.containers{
    background-color: rgb(46, 45, 45);
    width: 100%;
}
.navbar{
    height: 70px;
}
.Nft{
    text-decoration: none;
    color: white;
    margin-left: 3%;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nft{
    color: blueviolet;
    padding-right: 5px;
}
.Market{
    color: white;
    padding-left: 16%;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: -2%;
}
.Rankings{
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: -2%;
}
.Connect{
    color: white;font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 100px;
}
.Button{
    background-color: blueviolet;
    color: white;
    margin-right: 5%;
    width: 10%;
    height: 50px;
    border-radius:15px;
}
.body{
    margin-top: 4%;
    margin-left: 6%;
}
.Body-a{
   display: flex;
   
}
.Disc{
    width: 50%;
    color: white;
}
.Discover{
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.Anima{
    color: rgb(205, 206, 207);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.cursur{
    background-color: blueviolet;
    color: white;
    border-radius: 15px;
    width: 24%;
    height: 50px;
}
.Walk{
    box-shadow:0 6px 20px 0 rgb(14, 12, 12) ;
    color: white;
    border-radius: 10px;
    padding-left: 20px;
    height: 20%;
    padding-top: 20px;
    margin-top: -10px;
}
.k24{
    display: flex; 
    margin-top: 20px;
}
.tot{
    padding-right: 30px;
    font-size: 20px;
}
.auc{
    padding-left: 30px;
    font-size: 20px;
}
.art{
    padding-left: 80px;
    font-size: 20px;
}
.animakid{
    margin-top: 15px;
    height: 40px;
    padding-right: 20px;
}
.Anim{
    padding-top: 100px;
    font-size:10px;
}
.trend{
   color: white;
   padding-top: 120px;
}
.Trending{
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.check{
    font-size: 25px;
}
.dg{
    display: flex;
}
.dog{
    margin: 5px;
    margin-right: 60px;
}
.mush{
    margin: 5px;
    margin-left: 30px;
    
}
.tran{
    margin: 5px;
    margin-left: 30px;
   
}
.animals{
    display: flex;
    margin-top: 8%;
}
.cat{
    
}
.glassdog{
    margin-left: -75px;
}
.icon{
    margin-left: -75px;
}
.Ds{
    color: white;
}
.dsg{
    font-size: 20px;
}
.mr{
    color: white;
    font-size: 15px;
}
.dtext{
    padding-left: 15px;
}
.top{
    margin-top: 60px;
    margin-left: 90px; 
    margin-top: 100px;
}
.Top{
    color: white;
    font-size: 30px; 
    
}
.our{
    color: white;
    font-size: 15px;
}
.viewrank{
    border-radius: 15px ;
    color: white;
    background-color: rgb(46, 45, 45);
    border-color: blueviolet;
    width: 20%;
    height: 50px;
    margin-left: 45%;
}
.users{
    display: flex;
    margin-left: 8%;
    margin-top: 10%;
}
.user{
    display: flex;
    margin-left: 8%;
    margin-top: 2%;
}
/* ten{
    background-color: rgb(36, 35, 35);
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
    height: 30px;
    padding-left: 5px;
    padding-top: 3px;
    color: rgb(105, 100, 100);
    border-radius: 100%;
} */
.eleven{
    background-color: rgb(36, 35, 35);
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
    height: 30px;
    padding-left: 5px;
    padding-top: 3px;
    color: rgb(105, 100, 100);
    border-radius: 100%;
}
.twelve{
    background-color: rgb(36, 35, 35);
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
    height: 30px;
    padding-left: 5px;
    padding-top: 3px;
    color: rgb(105, 100, 100);
    border-radius: 100%;
}
.one{
    background-color: rgb(36, 35, 35);
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
    height: 30px;
    padding-left: 10px;
    padding-top: 3px;
    color: rgb(105, 100, 100);
    border-radius: 100%;
}
.two{
    background-color: rgb(36, 35, 35);
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-top: 2px;
    margin-top: 20px;
    margin-left: 20px;
    color: rgb(105, 100, 100);
    border-radius: 100%;
}
.three{
    background-color: rgb(36, 35, 35);
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 10px;
    padding-top: 3px;
    color: rgb(105, 100, 100);
    border-radius: 100%;
}
.four{
    background-color: rgb(36, 35, 35);
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-top: 3px;
    margin-top: 20px;
    margin-left: 20px;
    color: rgb(105, 100, 100);
    border-radius: 100%;
}
.firstrow{
    background-color: rgb(53, 53, 53);
    border-radius: 20px;
    width: 20%;
    
}
.keep{
    font-size: 25px;
    color: white;
    padding-left: 50px;
    padding-top: 30px;
}
.total{
    padding-left: 30px;
    color: rgb(151, 149, 149);
}
.eth{
    color: white;
    font-size: 15px;
    padding-left: 8px;
}
.Digi{
    font-size: 25px;
    color: white;
    padding-left: 70px;
    padding-top: 30px;
}
.wom{
   
    margin-left: 60px ;
}
.old{
    margin-left: 55px ;
}
.hair{
    margin-left: 55px ;
}
.juan{
    margin-left: 65px ;
}
.juep{
    font-size: 25px;
    color: white;
    padding-left: 80px;
    padding-top: 30px;
}
.toti{
    padding-left: 50px;
    color: rgb(151, 149, 149);
}
.secrow{
    background-color: rgb(53, 53, 53);
    border-radius: 20px;
    width: 20%;
    margin-left: 40px;
}
.thirdrow{
    background-color: rgb(53, 53, 53);
    border-radius: 20px;
    width: 20%;
    margin-left: 40px;
}
.fourow{
    background-color: rgb(53, 53, 53);
    border-radius: 20px;
    width: 20%;
    margin-left: 40px; 
}
.blur{
    display: flex;
    margin-top: 40px;
    margin-left: 8%;
}
.Artistic{
    background-color: rgb(54, 54, 54);
    color: white;
    padding-top: 30px;
    margin-top: -34px;
    width: 120%;
    height: 70px;
    padding-left: 40px;
    border-radius: 15px;
}
.collectible{
    margin-left: 120px;
}
.music{
    margin-left: 120px;
}
.photograph{
    margin-left: 120px;
}
.Collectib{
    background-color: rgb(54, 54, 54);
    color: white;
    padding-top: 30px;
    margin-top: -34px;
    width: 125%;
    height: 70px;
    padding-left: 40px;
    border-radius: 15px;
}
.mus{
    background-color: rgb(54, 54, 54);
    color: white;
    padding-top: 30px;
    margin-top: -34px;
    width: 125%;
    height: 70px;
    padding-left: 40px;
    border-radius: 15px;
}
.photog{
    background-color: rgb(54, 54, 54);
    color: white;
    padding-top: 30px;
    margin-top: -34px;
    width: 62%;
    height: 70px;
    padding-left: 40px;
    border-radius: 15px;
}
.videoo{
    background-color: rgb(54, 54, 54);
    color: white;
    padding-top: 30px;
    margin-top: -34px;
    width: 87%;
    height: 70px;
    padding-left: 40px;
    border-radius: 15px;
}
.utility{
    background-color: rgb(54, 54, 54);
    color: white;
    margin-left: -60px;
    padding-top: 30px;
    margin-top: -28px;
    width: 120%;
    height: 60px;
    padding-left: 40px;
    border-radius: 15px;
}
.sport{
    background-color: rgb(54, 54, 54);
    color: white;
    margin-left: -60px;
    padding-top: 30px;
    margin-top: -34px;
    width: 120%;
    height: 70px;
    padding-left: 40px;
    border-radius: 15px;
}
.world{
    background-color: rgb(54, 54, 54);
    color: white;
    margin-left: -70px;
    padding-top: 30px;
    margin-top: -34px;
    width: 125%;
    height: 70px;
    padding-left: 40px;
    border-radius: 15px;
}
.paint{
    position: absolute;
    margin-top: -12%;
    margin-left: 60px;
}
.swat{
    position: absolute;
    margin-top: -12%;
    margin-left: 60px;
}
.note{
    position: absolute;
    margin-top: -12%;
    margin-left: 60px;
}
.cam{
    position: absolute;
    margin-left: -12%;
    margin-top: 60px;
}
.videocam{
    position: absolute;
    margin-left: -12%;
    margin-top:60px;
}
.plan{
    position: absolute;
    margin-left: -12%;
    margin-top:60px;
}
.ball{
    position: absolute;
    margin-left: -12%;
    margin-top:60px;
}
.wind{
    position: absolute;
    margin-left: -12%;
    margin-top:60px;
}
.discov{
    color: white;
    margin-left: 8%;
    margin-top: 10%;
}
.seeall{
    margin-left: 61%;
    width: 12%;
    height: 8%;
    border-radius: 15px;
    background-color: transparent;
    border-color: blueviolet;
    color: white;
    font-size: 20px;
}
.Gala{
    display: flex;
    margin-top: 8%;
}
.galaxy{
    margin-left: 8%;
    
}
.life{
    margin-left: -70px;
}
.astro{
    margin-left: -70px;
}
.distance{
    color: white;
    background-color: rgb(54, 54, 54);
    margin-top: -4%;
    padding-left: 20px;
    padding-top: 20px;
    height:42% ;
    margin-left: 0.1px;
    width: 70%;
}
.moondance{
    margin-top: 10px;
}
.price{
    
    margin-top: 30px;
}
.Pr{
    color: rgb(156, 156, 156);
}
.high{
    float: right;
    color: rgb(156, 156, 156);
    padding-right: 20px;
}
.et{
    font-size: 20px;
}
.ethh{
    font-size: 20px;
    float: right;
    padding-right: 20px;
}
.over{
    background-image:;
    margin-top: 10%;
    width: 100%;
}
.Overlay{
    position: absolute;
    margin-top: 5%;
}
.how{
    margin-left: 10%;
    margin-top: 9%;
    color: white;
}
.fin{
    color: white;
    font-size: 40px;
}
.start{
    color: rgb(175, 175, 175);
    font-size: 25px;
}
.work{
    display: flex;
    margin-top: 6%;
    margin-left: 6%;
    color: white;
}
.atm{
    width: 25%;
    background-color: rgb(54, 54, 54);
    margin-left: 50px;
    border-radius: 15px;
}
.cary{
    width: 25%;
    margin-left: 60px;
    background-color: rgb(54, 54, 54);
    border-radius: 15px;
}

.cards{
    margin-left: 60px;
    margin-right: ;
    width: 25%;
    background-color: rgb(54, 54, 54);
    border-radius: 15px;
}
.you{
    padding-left: 50px;
}
.cho{
    color: rgb(182, 182, 182);
    padding-left: 15px;
    margin-bottom: 20px;
}
.con{
    color: rgb(182, 182, 182);
    padding-left: 10px;
}
.click{
    color: rgb(182, 182, 182);
    padding-left: 7px;
}
.corn{
    color: rgb(182, 182, 182);
    padding-left: 70px;
}
.galaxyy{
    display: flex;
    background-color: rgb(54, 54, 54);
    width: 80%;
    margin-left: 10%;
    margin-top: 8%;
    border-radius: 15px;
}
.gal{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 40px;
}
.jo{
    position: absolute;
    margin-left: 45%;
    margin-top: 50px;
    color: white;
}
.joi{
    font-size: 40px;
    width: 50%;
}
.get{
    font-size: 20px;
    margin-top: 50px;
}
.wivi{
    margin-top: 50px;
    width: 100%;
    height: 70px;
    display: flex;
}
.whit{
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 200px;
    height: 50px;
}
.vio{
    background-color: blueviolet;
    color: white;
    border-radius: 20px;
    width: 200px;
    margin-left: 178px;
    height: 50px;
    position: absolute;

}
.footer{
    background-color: rgb(54, 54, 54);
    margin-top: 40px;
    display: flex;
}
.foota{
    margin-left: 9%;
    color: white;
    font-size: 30px;
    width: 30%;
}
.footb{
    margin-top: 8px;  
     color: white;
     font-size: 15px;
}
.footc{
    margin-top: 10px;
    margin-left: 10%;
    color: white;
    font-size: 15px;
}
.line{
    background-color: rgb(54, 54, 54);
    margin-top: -6px;
    height: 60px;
}
.lin{
    
     border-bottom: 3px solid rgb(187, 187, 187); 
     width: 80%;
     margin-left: 9%; 
     margin-right: 12%;
}
.write{
    color: rgb(151, 149, 149);
    margin-left: 9%;
    margin-top: 10px;
}